@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
  margin: 0;

  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: #ffffff;
  color: rgb(14, 14, 14);
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  margin: 0rem;
  margin-bottom: 1.5rem;
}

.input {
  border: 1.3px solid;
  border-radius: 0.9em;
  padding: 0.3rem;
  width: 10em;
}

.header {
  text-align: center;
  padding: 0.5rem;
}
.header h1 {
  margin: 0;
  margin-bottom: 1.5rem;
}

select {
  margin-left: 0.5rem;
  padding: 0.2rem;
  border-radius: 0.9em;
}

.scale {
  font-weight: bold;
  font-size: 2rem;
  padding: 0.5em;
  padding-right: 2em;
  color: rgb(255, 102, 0);
}
